<mat-toolbar color="primary">
    <span>Pshop</span>
    <div class="spacer"></div>
    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>

      <a mat-button>Home</a>
      <a mat-button>About</a>
      <a mat-button>Contact</a>
    </mat-toolbar>
    <h2 style="text-align: center;">Latest Phones</h2>
   
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
        <mat-tab label="Apple">Apple</mat-tab>
        <mat-tab label="Oneplus"> Content 2 </mat-tab>
        <mat-tab label="Samsung"> Content 3 </mat-tab>
      </mat-tab-group>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <h1>Apple</h1> <mat-icon>iso</mat-icon>IOS
      <h4>Iphone 13 pro max</h4>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjnmi2sfyJaimBf5PVAirPq41i9IT0U6BLJA&usqp=CAU" style="width: 400px; "> <br>
      <h3><b>Price : </b><b>129900</b> </h3>
      <button style="align-items: center;">Add to Cart</button> 
      <details>Iphone 13 pro max <br>
        <b>Display :</b> Super Retina XDR display with ProMotion <br>
        17.0 cm / 6.7‑inch (diagonal) all‑screen OLED display <br>
        2778x1284-pixel resolution at 458 ppi <br> 
        <b>Processor : </b>A15 Bionic chip <br>
        New 6‑core CPU with 2 performance and 4 efficiency cores <br>
        New 5‑core GPU <br>
        New 16‑core Neural Engine <br>
        <b>Camera : </b>
        Pro 12MP camera system: Telephoto, Wide and Ultra Wide cameras <br>
        Telephoto: ƒ/2.8 aperture <br>
        Wide: ƒ/1.5 aperture <br>
        Ultra Wide: ƒ/1.8 aperture and 120° field of view <br>
        3x optical zoom in, 2x optical zoom out; 6x optical zoom range <br>
        Digital zoom up to 15x <br>
        Night mode portraits enabled by LiDAR Scanner <br>
        Portrait mode with advanced bokeh and Depth Control

      </details>
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
<h1>OnePlus</h1><mat-icon>android</mat-icon>android
<div class="clearflix">
    <div class="img-container">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYt53bVLh6KiPC3SMf0gahwE0DiLieViu5YQ&usqp=CAU" style="width: 50%;" alt="">
    <h4>Oneplus 10 pro</h4>
    <h3><b>Price : </b><b>65900</b> </h3>
<button style="align-items: center;">Add to Cart</button> 
<details>Oneplus 10 pro <br> 
    <b>Display : </b>6.70-inch (1440x3216) <br> 
    <b>Processor : </b>Qualcomm Snapdragon 8 Gen 1 <br>
    Octa core (3 GHz, Single core, Cortex X2 + 2.5 GHz, Tri core, Cortex A710 + 1.8 GHz, Quad core, Cortex A510) <br>
    <b>Camera : </b>	48 MP f/1.8, Wide Angle, Primary Camera <br>
    (23 mm focal length, 1.4" sensor size, 1.12µm pixel size) <br>
    50 MP f/2.2, Ultra-Wide Angle Camera <br>
    (14 mm focal length, 2.7" sensor size, 0.64µm pixel size) <br>
    8 MP f/2.4, Telephoto Camera <br>
    (77 mm focal length, 1µm pixel size)

</details>
    </div>
    <div class="img-container">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYt53bVLh6KiPC3SMf0gahwE0DiLieViu5YQ&usqp=CAU" style="width: 50%;" alt="">
        <h4>Oneplus 10 pro</h4>
        <h3><b>Price : </b><b>65900</b> </h3>
    <button style="align-items: center;">Add to Cart</button> 
    <details>Oneplus 10 pro <br> 
        <b>Display : </b>6.70-inch (1440x3216) <br> 
        <b>Processor : </b>Qualcomm Snapdragon 8 Gen 1 <br>
        Octa core (3 GHz, Single core, Cortex X2 + 2.5 GHz, Tri core, Cortex A710 + 1.8 GHz, Quad core, Cortex A510) <br>
        <b>Camera : </b>	48 MP f/1.8, Wide Angle, Primary Camera <br>
        (23 mm focal length, 1.4" sensor size, 1.12µm pixel size) <br>
        50 MP f/2.2, Ultra-Wide Angle Camera <br>
        (14 mm focal length, 2.7" sensor size, 0.64µm pixel size) <br>
        8 MP f/2.4, Telephoto Camera <br>
        (77 mm focal length, 1µm pixel size)
    
    </details>
        </div>

</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<p>-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
<h1 style="text-align: left;">Samsung</h1><mat-icon>android</mat-icon>android

<div class="clearflix">
    <div class="img-container">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpa9ATb-Y00OtliOQi6tNmU-MQgtLhWxmeJR_duk8yLwg02BKnwO-DSBOGp1tqZDnpBhs&usqp=CAU" style="width: 50%;"> <br>
        <h4>S22 Ultra</h4> <br>
        <h3><b>Price : </b><b>109000</b> </h3>
<button style="align-items: center;">Add to Cart</button>  
<details>Samsung S22 Ultra <br>
    <b>Display : </b> 6.8" edge Quad HD+ Dynamic AMOLED 2X <br>
    <b>Processor : </b>Qualcomm Snapdragon 8 Gen 1 <br>
    Octa core (3 GHz, Single core, Cortex X2 + 2.5 GHz, Tri core, Cortex A710 + 1.8 GHz, Quad core, Cortex A510) <br>
    <b>Camera : </b>108MP Wide-angle Camera <br>
    PDAF, OIS
    Pixel size: 0.8μm (12MP 2.4μm)
    FOV: 85˚ <br>
    F.No (aperture): F1.8
    1/1.33" image sensor size <br>
    12MP Ultra Wide Camera
    Dual Pixel AF <br>
    Pixel size: 1.4μm
    FOV: 120˚
    F.No (aperture): F2.2
    1/2.55" image sensor size
</details>

    </div>
    <div class="img-container">
        
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMVE49K2bwe-B2T7a272rDcYujJQHINKcyyQ&usqp=CAU" style="width: 50%;"> <br>
        <h4>S22+</h4> <br>
        <h3><b>Price : </b><b>109000</b> </h3>
<button style="align-items: center;">Add to Cart</button>  
<details>Samsung S22 Ultra <br>
    <b>Display : </b> 6.8" edge Quad HD+ Dynamic AMOLED 2X <br>
    <b>Processor : </b>Qualcomm Snapdragon 8 Gen 1 <br>
    Octa core (3 GHz, Single core, Cortex X2 + 2.5 GHz, Tri core, Cortex A710 + 1.8 GHz, Quad core, Cortex A510) <br>
    <b>Camera : </b>108MP Wide-angle Camera <br>
    PDAF, OIS
    Pixel size: 0.8μm (12MP 2.4μm)
    FOV: 85˚ <br>
    F.No (aperture): F1.8
    1/1.33" image sensor size <br>
    12MP Ultra Wide Camera
    Dual Pixel AF <br>
    Pixel size: 1.4μm
    FOV: 120˚
    F.No (aperture): F2.2
    1/2.55" image sensor size
</details>

    </div>
</div>



